<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyCloud</title>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/src/animations.css">
    <script src="/static/src/bootstrap-dropdown-on-hover.js"></script>
    <script>
        $(function() {
            $("#demo-1").bootstrapDropdownOnHover();
            $("#demo-2").bootstrapDropdownOnHover({
                mouseOutDelay: 50
            });
            $(".hover-enabled").bootstrapDropdownOnHover({
                responsiveThreshold: 768
            });
        });
    </script>
    <style>
        #custom{
            text-align:center;
        }
    </style>
</head>

<body style="padding-top: 20px; padding-bottom: 20px">
<!-- 导航栏 -->
    {% block topbar %}
    <div class='container'>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('frontend.index') }}"><i class='iconfont icon-combinedshape'>&nbspMyCloud</i></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                            <li><a href="/"><i class='iconfont icon-jia'>&nbspHome</i></a></li>
                            {% if current_user.is_admin() %}
                                <li><a href="{{ url_for('user.admin') }}"><i class='iconfont icon-user'>&nbspUser</i></a></li>
                                <li><a href="{{ url_for('host.index') }}"><i class='iconfont icon-iconfontzhuji'>&nbspHost</i></a></li>
                            {% endif %}
                                <li><a href="{{ url_for('image.index') }}"><i class='iconfont icon-jingxiang'>&nbspImage</i></a></li>
                                <li><a href="{{ url_for('template.index') }}"><i class='iconfont icon-moban'>&nbspTemplate</i></a></li>
                            <li><a href="{{ url_for('vm.index') }}"><i class='iconfont icon-xuniji'>&nbspVirtualMachine</i></a></li>
                        {% endif %}
                        <li><a href='http://www.baidu.com'><i class='iconfont icon-guanyu'>&nbspAbout</i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
                        <li><a href="{{ url_for('frontend.logout') }}"><i class='iconfont icon-dengchu'></i></a></li>
                    {% else %}
                        <li><a href="{{ url_for('frontend.login') }}"><i class='iconfont icon-dengru'></i></a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endblock %}
<!-- 提示信息 -->
    {% block flash_message %}
        <div id="custom" class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container-fluid">
                <div id='flash_message_container'>
                    {% for category, msg in messages %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
        </div>
    {% endblock %}</br>
<!-- 主体 -->
    <div class="container" >
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>
