{% extends "base/base.html" %}
{% from "macros/_form.html" import render_form %}
{% block body %}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th id="custom">Id</th>
            <th id="custom">Image name</th>
            <th id="custom">Path</th>
            <th id="custom">Status</th>
            {% if current_user.is_admin() %}
            <th id="custom">Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for i in image_list%}
        <tr>
            <td id="custom">{{ i.id }}</td>
            <td id="custom">{{ i.image_name }}</td>
            <td id="custom">{{ i.image_path }}</td>
            <td id="custom">{{ i.status_code }}</td>
            {% if current_user.is_admin() %}
            <td id="custom">
                <div id="custom" class="hover-enabled btn-group">
                    <button type="button" style='background-color:transparent;border:none' data-toggle="dropdown">
                        <i class='iconfont icon-shezhi'></i>
                    </button>
                    <ul class="dropdown-menu animated" data-animation="flipInX" role="menu">
                        <li><a href="{{ url_for('image.delete', image_id = i.id )}}"><i class='iconfont icon-shanchu'>&nbsp&nbspDelete </i></a></li>
                    </ul>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Image</h4>
            </div>
            <div class="modal-body">
                {{render_form(url_for('image.index'), form)}}
            </div>
        </div>
    </div>
</div>

{% if current_user.is_admin() %}
    <div style="float:right" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='iconfont icon-tianjia'>&nbsp&nbspAdd</i></div>
    <div style="float:right; margin-right:5px"><button type="button" class="btn btn-default"><a style="text-decoration:none" href="{{ url_for('image.discover')}}"><i class='iconfont icon-tianjia'>&nbsp&nbspDiscover </i></a></button></div>
{% endif %}
{% endblock %}

